.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
  }
  
  .gallery-item {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-bottom: 15px;
    text-decoration: none;
    color: #333;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .gallery-item img {
    width: 100%;
  }
  
  .gallery-item caption {
    margin-top: 5px;
    font-size: 0.75em;
  }
  
  .gallery-item:hover {
    background-color: #333;
  }
  
  .gallery-item:hover caption {
    color: #fff;
  }
  
  @media(max-width: 1200px) {
    .gallery {
      width: 100%;
    }
    .gallery-item {
      width: 50%
    }
  }
 
  @media(max-width: 500px) {
    .gallery-item {
      width: 100%;
    }
  }