html, body {
    overflow-x: hidden;
}
body {
    background-color: #5CDB95;
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    position: relative;
}
.main-menu {
    margin:0px;
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.logo {
    display: flex;
}
.logo-img {
    width:auto;
    height: 100px;
    margin: 0px;
    display: inline-block;
}
.logo-text {
    text-decoration: none;
    color: #05386B;
    font-size: 300%;
    font-weight: bold;
    display: inline-block;
}
.main-menu nav {
    margin-block: auto;
}
.main-menu ul {
    list-style-type: none;    
    margin: 0px;
    padding: 0px;
    display: flex;   
}
.main-menu li {
    margin: 5px;
    margin-inline: 30px;
}
.main-menu li a:hover {
    color: #275A8C;
}
.main-menu li:last-child {
    margin-right: 30px;
}
.main-menu ul a {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: #05386B;
    font-size: 200%;
}
hr {
    background-color: #05386B;
    height:5px;
    border: 0px;
    margin-inline: auto;
    border-radius: 5px;
    width:100%;
}
.fixer {
    min-width: 400px;
}
main{
    display: flex;
    height:fit-content;
    font-family: sans-serif;
}
.headline {
    background-image: url(../assets/guitar.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: top ;
    background-size: auto 100%;
    width:60%;
    display: inline-block;
    margin: 50px;
    margin-top: 125px;
    
}
.headline h1{
    text-align: center;
    color: #EDF5E1;
    font-family: sans-serif;
    font-size: 250%;
    width:50%;
    justify-content: center;
    margin: auto;
}
.headline h2 {
    color: #EDF5E1;
    font-family: sans-serif;
    font-size: 140%;
    display: flex;
    justify-content: right;
    margin-right: 25%;
}

.email h1 {
    margin-top: 80px;
    color: #05386B;
    font-weight: bold;
}
.email ul {
    color:#05386B;
    font-size: 150%;
}
.email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto ;
    margin-top: 100px;
}
.email-form label {
    color: #05386B;
    font-size: 150%;
}
.email-form input {
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    border:3px solid #05386B;
    text-align: left;
    width: 350px;
}

.button {
    font-family: sans-serif;
    background-color: #05386B;
    color: aliceblue;
    border:0px;
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.button:hover {
    background-color: #275A8C;
}
footer {
    text-align: center;
    font-size: 120%;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.title {
    justify-content: center;
    display: flex;
    color: #05386B;
    font-family: sans-serif;
    font-size: 400%;
    margin: 30px;
    font-weight: bold;
}
.quote {
    text-align: center;
    color: #EDF5E1;
    font-family: sans-serif;
    font-size: 350%;
}
.quotee{
    text-align: center;
    color: #EDF5E1;
    font-family: sans-serif;
    font-size: 140%;
    margin-left: 20%;
}
.instrument-description {
    margin-left: 10%;
    font-size: 120%;
    color:#05386B;
    font-weight: bold;
    text-align: center;
    width:40%;
}
.instrument-img {
    float:right;
    display:inline-flex;
    width:500px
}
.burger {
    visibility: hidden;
    color: #05386B;
    font-size: 40px;
    background-color: transparent;
    border-color: transparent;
    height: 0px;
}
.burger:hover {
    color: #275A8C;
}
.burger-section {
    margin:auto;
    margin-right: 0px; 
    text-align: right;
}

.burgerMenuList {  
    position: absolute;
    right:-1000px;
    background-color: rgba(5, 56, 107,1);
    height: 100%;    
}
.burgerMenuList nav {
    margin-block: auto;
}
.burgerMenuList ul {
    list-style-type: none;    
    margin: 0px;
    padding: 0px; 
}
.burgerMenuList li {
    margin: 5px;
    margin-inline: 30px;
}
.burgerMenuList li a:hover {
    color: #275A8C;
}
.burgerMenuList ul a {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-size: 200%;
    
}
@media (max-width:350px) and (min-width:201px) {
    main {
        flex-direction: column;
    }
    .headline {
        margin:auto;
        margin-top:50px;
        margin-bottom: 30px;
        width: 100%;
        font-size: 40%;
    }
    .email {
        margin: auto;
        font-size: 30%;
    }
    .email-form {
        margin-top:10px
    }
    .email-form input {
        width: 60px;
        height: 1px;
    }
    .main-menu li {
        display:none;
    }
    .button {
        padding-block: 5px;
        padding-inline: 10px;
        border-radius: 4px;
        margin-bottom: 20px;
    }
    .burger {
        visibility: visible;
        margin-left:auto;
    }
    .logo-img {
        width:auto;
        height: 38px;
        margin: 0px;
        display: inline-block;
    }
    .logo-text {
        text-decoration: none;
        color: #05386B;
        font-size:100%;
        font-weight: bold;
        display: inline-block;
    }
    footer {
        font-size: 60%;
    }

}
@media (max-width:700px) and (min-width:351px) {
    main {
        flex-direction: column;
    }
    .headline {
        margin:auto;
        margin-top:50px;
        margin-bottom: 30px;
        width: 100%;
        font-size: 60%;
    }
    .email {
        margin: auto;
        font-size: 60%;
    }
    .email-form input {
        width: 200px;
    }
    .main-menu li {
        display:none;
    }
    .burger {
        visibility: visible;
        margin-left:auto;
    }
    .logo-img {
        width:auto;
        height: 75px;
        margin: 0px;
        display: inline-block;
    }
    .logo-text {
        text-decoration: none;
        color: #05386B;
        font-size: 200%;
        font-weight: bold;
        display: inline-block;
    }
    .footer {
        font-size: 80%;
    }
}
@media (max-width:1300px) and (min-width:701px) {
    main {
        flex-direction: column;
    }
    .headline {
        margin:auto;
        margin-top:50px;
        margin-bottom: 30px;
        width: 100%;
        font-size: 100%;
    }
    .email {
        margin: auto;
        font-size: 100%;
    }
    .email-form input {
        width: 200px;
    }
    .main-menu li {
        display:none;
    }
    .burger {
        visibility: visible;
        margin-left:auto;
    }
    footer {
        font-size: 100%;
    }
} 

@media (max-width:1400px) and (min-width: 1301px) {
    main {
        flex-direction: column;
    }
    .headline {
        margin:auto;
        margin-top:50px;
        margin-bottom: 30px;
        width: 100%;
        font-size: 120%;
    }
    .email {
        margin: auto;
        font-size: 120%;
    }
    .email-form input {
        width: 240px;
    }
    footer {
        font-size: 120%;
    }
}