body {
    overflow-x: hidden;
    background-color: #5CDB95;
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    position: relative;
}
main {
    min-height: 200px;
    width: auto;
    height:fit-content;
}
h1 {
    color:#05386B;
    font-size: 400%;
    display: flex;
    justify-content: center;
}
h2 {
    color: #EDF5E1;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #EDF5E1;
    font-size: 340%;
    margin-bottom: 0px;
    margin-top: 2px;
}
h3 {
    color: #EDF5E1;
    font-size: 300%;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}
.button {
    font-family: sans-serif;
    background-color: #05386B;
    color: aliceblue;
    border:0px;
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.button:hover {
    background-color: #275A8C;
}
.page-title {
    justify-content: center;
    display: flex;
    color: #05386B;
    font-family: sans-serif;
    font-size: 400%;
    margin: 30px;
    font-weight: bold;
}

.main-menu {
    margin:0px;
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-top: solid 4px #05386B;
    border-bottom: solid 4px #05386B;
    margin: 10px 0px ;
}
.main-menu .logo {
    display: flex;
}
.main-menu .logo-img {
    width:auto;
    height: 100px;
    margin: 0px;
    display: inline-block;
}
.main-menu .logo-text {
    text-decoration: none;
    color: #05386B;
    font-size: 300%;
    font-weight: bold;
    display: inline-block;
}
.main-menu nav {
    margin-block: auto;
}
.main-menu ul {
    list-style-type: none;    
    margin: 0px;
    padding: 0px;
    display: flex;   
}
.main-menu li {
    margin: 5px;
    margin-inline: 30px;
}
.main-menu li a:hover {
    color: #275A8C;
}
.main-menu li:last-child {
    margin-right: 30px;
}
.main-menu ul a {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: #05386B;
    font-size: 200%;
}




.wrapper {
    display:flex;
}
.theQuote {
    background-image: url(../assets/guitar.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: top ;
    background-size:auto 80%;
    width:60%;
    display: inline-block;
    margin: 50px;
    margin-top: 125px;
    
}
.quote{
    text-align: center;
    color: #EDF5E1;
    font-size: 250%;
    width:50%;
    justify-content: center;
    margin: auto;
}
.quotee {
    color: #EDF5E1;
    font-size: 140%;
    display: flex;
    justify-content: right;
    margin-right: 25%;
}
.info {
    width:40%;
    display: flex;
}
.info h1{
    margin-top: 100px;
    color: #05386B;
    font-weight: bold;
    align-items: left;
    font-size: 200%;
    text-align: center;
    width:80%;
}

main .email h1 {
    margin-top: 80px;
    color: #05386B;
    font-weight: bold;
    align-items: left;
    font-size: 250%;
}
main .email ul {
    color:#05386B;
    font-size: 150%;
}
main .email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto ;
    margin-top: 100px;
}
main .email-form label {
    color: #05386B;
    font-size: 150%;
}
main .email-form input {
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    border:3px solid #05386B;
    text-align: left;
    width: 350px;
}

.ins-Img {
    width:100%;
    display: none;
}
.index-img {
    width:100%;
}

.instrument-group-list h2 a {
    text-decoration: none;
    color: #EDF5E1;
}
.instrument-group-list a:hover {
    color: #275A8C;
    background-color:  rgba(0,0,0,0.1);
    border-radius: 10px;
}
hr {
    background-color:#05386B;
    height:4px;
    border: 0px;
    margin-inline: auto;
    border-radius: 5px;
    width:40%;
}
.ins-titles {
    margin:auto;
    display: flex;
    list-style-type: none; 
    width:65%;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.ins-titles a {
    display: inline-block;    
    text-decoration: none;
    color: #05386B;
    font-size: 200%;
}
.ins-titles li {
    width: 25%;
    text-align: center;
}

.ins-brief-info {
    margin:auto;
    display: flex;    
    list-style-type: none; 
    width:65%;
}
.ins-brief-info li {
    width:25%
}
.ins-brief-info a {
    display: flex;
    padding-inline: 20px;
    text-decoration: none;
    color: #05386B;
    font-size: 150%;
}
p {
    display: flex;
    color: #05386B;
    font-size: 250%;
    text-align: center;
    width:40%;
    margin:auto;
    margin-top: 10px;
}
img {
    width:30%;
    height:500px;
    min-width: 401px;
}
.ins-info {
    display: flex;
}
.ins-info aside {
    width:70%;
}
.ins-info p {
    width:100%;
}
.wrapper2 {
    border:6px solid #05386B;
    border-radius: 5px;
    margin:30px;
}
footer {
    text-align: center;
    font-size: 120%;
    bottom: 0;
    width: 100%;
}
footer p {
    margin-block: 40px;
}

@media (max-width:1600px) {
    img {
        width:50%;
        height: 400px
    }

}
@media (max-width:1400px) {
    .wrapper {
        flex-direction: column;
    }
    .theQuote {
        margin:auto;
        margin-top:50px;
        margin-bottom: 30px;
        width: 100%;
        font-size: 120%;
        background-size:auto 100%;
    }
    main .email {
        margin: auto;
    }
    .email-form input {
        width: 240px;
    }
    footer {
        font-size: 120%;
    }
    .ins-titles {
        margin-bottom: 10px;
    }
    .ins-brief-info a {
        font-size: 100%;
    }
    .info {
        margin:auto;
        width:100%;
    }
    .info h1 {
        margin:auto;
        margin-top: 100px;
        color: #05386B;
        font-weight: bold;
        font-size: 200%;
        width:80%;
    }
    p {
        width:80%;
    }
}
@media (max-width:1300px) {
    .insImg{
      display: block;
    }
    .main-menu li {
        display:none;
    }
    .wrapper {
        flex-direction: column;
    }
    .theQuote {
        font-size: 100%;
    }
    .email {
        font-size: 100%;
    }
    .email-form input {
        width: 200px;
    }
    footer {
        font-size: 100%;
    }
    .ins-titles a{ 
        font-size: 150%;
    }
    .ins-brief-info a {
        font-size: 80%;
        padding-inline: 20px ;
    }
    h1 {
        color:#05386B;
        font-size: 200%;
        display: flex;
        justify-content: center;
    }
    .info h1 {
        font-size: 150%;        
    }
    .ins-info {
        flex-direction: column;
    }
    img{
        margin:auto;
    }
    aside {
        margin: auto;
    }
    p {
        font-size: 200%;
    }
    h3 {
        font-size: 150%;
        text-decoration-thickness: 2px;
    }
}
@media (max-width:1000px) {
    /* .ins-info img {
        min-width: 400px;
    } */
}
@media (max-width:700px){
    .theQuote {
        font-size: 60%;
    }
    h2 {
        font-size: 250%;
    }
    .email {
        font-size: 60%;
    }
    .email-form input {
        width: 200px;
    }
    .main-menu .logo-img {
        width:auto;
        height: 75px;
        margin: 0px;
        display: inline-block;
    }
    .main-menu .logo-text {
        text-decoration: none;
        color: #05386B;
        font-size: 200%;
        font-weight: bold;
        display: inline-block;
    }
    .footer {
        font-size: 80%;
    }
    .ins-info img  {
        height:300px;
        width:200px;
    }
    .ins-titles {
        margin-bottom: 7px;
        font-size: 100%;
        width:90%;
        padding-left: 0px;
    }
    .ins-brief-info {
        padding-left: 0px;
        width:90%;
    }
    .ins-brief-info a {
        font-size: 70%;
    }
    p {
        font-size: 100%;
    }
    
}
@media (max-width:350px) {
    .theQuote {
        font-size: 40%;
    }
    .email {
        font-size: 30%;
    }
    .email-form {
        margin-top:10px
    }
    .email-form input {
        width: 60px;
        height: 1px;
    }
    .button {
        padding-block: 5px;
        padding-inline: 10px;
        border-radius: 4px;
        margin-bottom: 20px;
    }
    .main-menu .logo-img {
        height: 38px;
    }
    .main-menu .logo-text {
        font-size:100%;
    }
    footer {
        font-size: 60%;
    }
    .ins-titles a{ 
        font-size: 100%;
    }
    p {
        font-size:0%
    }
}